/*base*/
body,div,ul,li,h1,h2,h3,h4,h5,form,input,button,textarea,p,hr {margin: 0;padding: 0;font-family: "Microsoft YaHei";font-size: 12px;}
address,em,strong,h3,h4,h5,i{font-style: normal;font-weight: normal;}
ul,li{list-style: none;}
a{color: black;text-decoration: none;}
img{border: 0;}
html{-webkit-overflow-scrolling: touch;height: 100%;}
body{position:relative;max-width: 640px;min-width: 320px;margin:0 auto;height: 100%;}
/*base*/
.app{
	display: relative;
	max-width: 640px;
	min-width: 320px;
	height: 100%;
}
.header{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #999;
	background: #f1f5ec;
	h2{
		text-align: center;
		font-size: 20px;
	}
	.header-back{
		float: left;
		padding-left: 15px;
		height: 60px;
		font-size: 16px;
	}
	.header-title{
		display: inline-block;
		margin-left: -35px;
	}
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 640px;
    min-width: 320px;
	height: 60px;
	line-height: 60px;
	border-top: 1px solid #999;
	background: #f1f5ec;
	a{
		float: left;
		width: 20%;
		text-align: center;
		font-size: 15px;
	}
}
.footer .footer-act,.footer-act{
	font-size: 18px;
	color: green;
}
.page{
	padding: 10px 20px;
	text-align: center;
}
.page h1{
	font-size: 15px;
}



