/*base*/
body,div,ul,li,h1,h2,h3,h4,h5,form,input,button,textarea,p,hr {margin: 0;padding: 0;font-family: "Microsoft YaHei";font-size: 12px;}
address,em,strong,h3,h4,h5,i{font-style: normal;font-weight: normal;}
ul,li{list-style: none;}
a{color: black;text-decoration: none;}
img{border: 0;}
html{-webkit-overflow-scrolling: touch;height: 100%;font-size:40px;}
body{position:relative;max-width: 640px;min-width: 320px;margin:0 auto;height: 100%;}
/*base*/
.app{
	display: relative;
	max-width: 640px;
	min-width: 320px;
	height: 100%;
}
.header{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #999;
	background: #f1f5ec;
	h2{
		text-align: center;
		font-size: 20px;
	}
	.header-back{
		float: left;
		padding-left: 15px;
		height: 60px;
		font-size: 16px;
	}
	.header-title{
		display: inline-block;
		margin-left: -35px;
	}
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 640px;
    min-width: 320px;
	height: 60px;
	line-height: 60px;
	border-top: 1px solid #999;
	background: #f1f5ec;
	a{
		float: left;
		width: 33.3%;
		text-align: center;
		font-size: 15px;
	}
}
.footer .footer-act,.footer-act{
	font-size: 18px;
	color: green;
}
.page{
	padding: 10px 20px;
	text-align: center;
}
.page h1{
	font-size: 15px;
}
.myFade-enter-active, .myFade-leave-active {
  transition: opacity .3s
}
.myFade-enter, .myFade-leave-active {
  opacity: 0
}
//page1
.game-li{
	padding: .55rem 0;
	text-align: left;
	border-bottom:1px solid #D1D1D1;
	.game-one{
		display: inline-block;
		width:11rem; // 460px
		.game-img{
			float: left;
			margin-right: .5rem; // 20px
			width: 1.9rem; // 76px
			height: 1.9rem; // 76px
			border-radius: .125rem; // 5px
		}
		.game-name{
			margin-top: -.2rem;
			font-size: .6rem; // 24px
		}
		.game-des{
			font-size: .45rem; // 18px
			color: #848484;
		}
		.game-name,.game-des{
			max-width: 8.75rem; // 350px
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: block;
		}
	}
	.game-btn{
		float: right;
		margin-top: .375rem; // 15px
		padding: .2rem .5rem;
		font-size: .6rem; // 24px
		color: red;
		border-radius:.15rem; // 4px
		border:1px solid red;
	}
	.game-btn:active{
		color: white;
		background: red;
	}
}



