$border:#ccc;
div{
  // color: red;
}
fieldset{
  text-align: center;
  color: #dbdbdb;
  border: none;
  border-top: 1px solid #dbdbdb;
}

.s-center{
  position: relative;
}
.cont-center{
  .ban{
    height: 5rem;
    text-align: center;
    background: rgba(0,0,0,0.1);
    .uname{
      padding-top: 2rem;
      font-size: .4rem;
      color: #555;
      span{
        display: inline-block;
        padding: 0 .8rem;
        cursor: pointer;
      }
      &>span:first-child{
        border-right: 1px solid $border;
      }
    }
  }
  .item{
    margin: .375rem 0 .75rem;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    a{
      display: block;
      margin: 0 .375rem;
      padding: .375rem 0;
      border-bottom: 1px solid $border;
      i{
        float: right;
      }
    }
    &>a:last-child{
      border-bottom: none;
    }
  }
}
















